.App {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  height: 100vh;
}

.NavBar {
  padding: 5;
  width: 25%;
  height: 100%;
  color: white;
  background-color: mediumblue;
}

.Content {
  padding: 5;
  width: 75%;
  height: 100%;
}
